//////SUGGESTION BOX//////
.suggestionBox {
  background-color: white;
  width: 24%;
  margin-left: 169px;
  margin-top: -11px;
  border-radius: 5px;
  padding: 30px 20px 30px 10px;
  position: fixed;
  border: 1px solid lightgray;
  z-index: 13001;
}
